.about {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #3c0774, #05093d);
  color: white;
  padding: 2rem;
  overflow: hidden;
}

.aboutContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  max-width: 1200px;
  width: 100%;
}

.content {
  flex: 1;
  animation: slideLeft 1s ease forwards;
  opacity: 0;
}

.content h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.content p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  line-height: 1.6;
}

.imageContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideRight 1s ease forwards;
  opacity: 0;
}

.imageContainer img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

/* Keyframes para animação */
@keyframes slideLeft {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Responsividade */
@media (max-width: 768px) {
  .aboutContainer {
    flex-direction: column;
    text-align: center;
    padding: 1rem;
  }

  .content h2 {
    font-size: 2rem;
  }

  .content p {
    font-size: 1rem;
  }

  .imageContainer img {
    max-width: 250px;
    max-height:  250px;
    border-radius: 50%;
  }
}
